<form method="post" action="/cart/add">
    {% if product.variants.size > 1 %}
	<!-- START VARIANTS -->
	<div class="variants">
		<div class="border">
			<select name="id">{% for variant in product.variants %}{% if variant.available %}
				<option value="{{ variant.id }}">{{ variant.title | escape }} ({{ variant.price | money }})</option>{% else %}
				<option value="{{ variant.id }}" disabled="disabled">{{ variant.title | escape }} ({{ variant.price | money }}) - SOLD OUT</option>{% endif %}{% endfor %}
			</select>
		</div>
	</div>
	<!-- END VARIANTS -->
	{% else %}
	    {% for variant in product.variants %}
	        <input type="hidden" name="id" value="{{ variant.id }}" />
	    {% endfor %}
	{% endif %}
	<!-- START BUY -->
	<div class="clear">
	    {% if product.available %}
		    <h2><span>{{ product.price | money }}</span>{% if product.compare_at_price_max > product.price %} <del>{{ product.compare_at_price_max | money }}</del>{% endif %}</h2>
		    <input class="submit-add-to-cart" type="submit" value="Add To Cart" />
		{% else %}
		    <h6>Sold Out</h6>
		{% endif %}
	</div>
	<!-- END BUY -->
</form>
